{% extends "adminbase.html" %}
{% block title %}Car List{% endblock %}
{% block body %}
{{ gmap.js }}
<div class="box">
	<div id="carList">
		<h2> Car List</h2>
		{% if cars%}
		<table>
			<tr>
				<th>Car ID</th>
				<th>Make</th>
				<th>Body Type</th>
				<th>Colour</th>
				<th>Seats</th>
				<th>Cost</th>
				<th>Availability</th>
				<th>Update</th>
				<th>Report Car</th>
				<th>Delete</th>
			</tr>
			{% for car in cars %}
				<tr>
					<td>{{car[0]}}</td>
					<form method=post action="carhistory">
						<td><button style="border: none; padding: 0; background: none;" name="id" value="{{car[0]}}">{{car[1]}}</button></td>
					</form>
					<td>{{car[2]}}</td>
					<td>{{car[3]}}</td>
					<td>{{car[4]}}</td>
					<td>{{car[6]}}</td>
					{% if car[7]==1 %}
						<td>Avalaible</td>
					{% elif car[7]==0 %}
						<td>Unavalaible</td>
					{% else %}
						<td>Broken</td>
					{% endif %}
{% if car[7]==1 %}
                        <form method=post action="updatecarpage">
                            <td><button name="id" value="{{car[0]}}">Update</button></td>
                        </form>
                    {% elif car[7]==0 %}
						<td>Being rented</td>
					{% else %}
						<td>Broken</td>
                    {% endif %}
                    {% if car[7]==1 %}
                        <form method=post action="reportcar">
                            <input type="hidden" name="make" value="{{car[1]}}">
                            <td><button name="id" value="{{car[0]}}">Report</button></td>
                        </form>
                    {% elif car[7]==0 %}
						<td>Being rented</td>
					{% else %}
                        <td>Already Broken</td>
					{% endif %}
					<form method=post action="deletecar">
						<td><button name="delete" value="{{car[0]}}">Delete</button></td>
					</form>
				</tr>
			{% endfor %}
		</table>
		<div>
			<p>Car Locations: </p>
			{{ gmap.html }}
		</div>
		{% else %}
			<br>
			<td>No Cars is Registered</td>
		{% endif %}
		<br>
		<div id="add">
			<button onclick="window.location.href='addcar'">Add</button>
		</div>
	</div>
</div>
{% endblock %}
